/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

body {
  background: url("petstogether.jpeg") no-repeat fixed center;
  background-size: cover;
  background-position: 20px 200px 20px;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #191970;
  border-bottom: solid .75px #191970;
  margin-bottom: 35px;
  padding: 10px;
}

.user-nav-list, .shopping-nav-list {
  display: flex;
  flex-direction: row;
}

header a:hover, header a:link, header a:visited {
  color: #191970;
  text-decoration: none;
}
