<%= link_to products_path do %>
<section class="banner" id="puppy-banner">
  <div class="overlay">
    <div class="text">
      All of our domestic adoptions are sourced from animal shelters and rescue centers from around the country. Please browse and help us provide these animals with the loving forever homes they deserve!
    </div>
  </div>
</section>
<% end %>
<%= link_to products_path do %>
<section class="banner" id="tiger-banner">
  <div class="overlay">
    <div class="text">
      Your contribution to our "exotic" adoptions allow us to support conservation and habitat preservation for many animals in the wild, and support sanctuaries for those animals who are unable to return to the wild.
    </div>
  </div>
</section>
<% end %>
<%= link_to products_path do %>
<section class="banner" id="sweater-banner">
  <div class="overlay">
    <div class="text">
      Need a new collar? Booties for your pup? We've got it all, from sweaters to swimwear! And a portion of your purchase goes to support the American Humane Society.
    </div>
  </div>
</section>
<% end %>
